
#lcp_instance_0 {

	list-style: none;
	display: block;
	list-style-type: none;    
	text-align: initial;

	li {
		// padding: 5px;
		margin: 75px 1.5%;
		position: relative;
		display: inline-block;

		width: 100%;
		height: 320px;
		display: inline-block;

		> a:nth-child(1) {
			box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
			font-size: 1em;
			font-weight: bolder;
			background: white;
			position: absolute;
			top: 320px;
			height: 100px;
			padding: 5%;
			// white-space: nowrap; 
			width: 100%; 
			// overflow: hidden;
			// text-overflow: ellipsis;
		}

		img {
			width: 100%;
			height: 320px;
			object-fit: cover;
		}

		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);

		/* For desktop: */
		@media (min-width: 768px) {
			
			width: 30%;

		}

		&:hover {

			border: solid thick orange;

			& {
				> a:nth-child(1) {
					top: 260px;
					height: 160px;
					white-space: normal; 
					font-size: 1.3em;
					line-height: 32px;
				}
			}
		}
	}

}