/*
Theme Specia Child
Author: Guilherme
Description: Performma Custom Theme.
Template: specia
*/

// @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body * {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	// font-family: 'Fredericka the Great', cursive;
}
#wtpsw-carousel-1 {
	.wtpsw-post-carousel-slides:hover {
		> div > div > img {
			border: solid thick orange;
		}
	}
}

#loginform {
	margin-top: 20px;
	* {
		font-size: 12px;
	}
	#user_login, 
	#user_pass {
		height: 30px;
	}
}

#bs-example-navbar-collapse-1 {
	#performma-search-form {
		bottom: 10px;
	}
}

#performma-article {

    padding: 40px 0 76px;

	div.col-md-4.col-sm-12 > img {
		width: 100% !important;
		height: auto !important;
		margin: 0 20px 0 0 !important;
		z-index: 1 !important;
		color: transparent !important;
		font-size: 0 !important;
		vertical-align: middle !important;
	}

	h2.author.vcard  {    
		font-size: 20px;
		line-height: 20px;
		color: #2c61aa;
	}

	h5.cat-links {    
		font-size: 15px;
		line-height: 60px;
		color: #58595b;
	}

	.entry-content{
		padding-left: 0px;
		height: 180px;
		overflow: hidden;
		word-wrap: break-word;
		font-size: 15px;
		line-height: 22px;
		color: #58595b;
	}

}

#performma-table > h3 {
	display: none !important; 	
}


#lcp_instance_0 {

	list-style: none;
	display: block;
	list-style-type: none;

	li {

		padding: 5px;
		margin: 0%;
		position: relative;
		display: inline-block;

		:hover {
			img {
				border: solid thick orange;
			}
		}

		@media (min-width: 768px) {

			& {
				/* For desktop: */
				width: 49%;
				height: 100%;
				display: inline-block;

				> a {
					position: relative;
					float: right;
					width: 50%;
				}

				 > a:nth-child(1) {
					 margin-top: 25%;
				 }

				img {
					width: 100%;
					height: 320px;
				}

			}
		}

		@media (max-width: 768px) {
			& {
				/* For mobile: */
				display: block;
				width: 100%;
				height: 100%;

				img {
					width: 50%;
					height: 100%;
				}

				// > a:nth-child(1) {
				// 	padding: 10%;
				// 	width: 100%;
				// 	font-size: 4em;
				// }

			}
		}
	
		// > a:nth-child(1) {
		// 	background-color: white;
		// 	margin: 5px;
		// 	font-weight: bolder;
		// 	padding: 5px;
		// 	position: absolute;
		// 	bottom: 0;
		// 	right: 0;
		// 	color: #444;
		// 	text-decoration: none;
		// 	font-size: 1em;
		// 	line-height: 22px;


		// }

	} 
}

#performma-middle-content {
	
	section > div > div > div.site-content > h1 {
		// font-family: 'Fredericka the Great', cursive !important;
		// padding-top: 10px;
		// height: 85px;
		// background: url(https://github.com/Guilheeeeeeerme/performma/blob/master/conteudoscompartilhados/img/sprite_5.png?raw=true) no-repeat;
		margin: 0 0 31px 0;
		color: #fff !important;
		font-size: 1.5em;
		background-size: 100% 110%;
		text-align: center;
		background: #343434;
		border-radius: 12px;
	}
	
	#performma-menu-outer {
		// height: 84px;
		// background: url(images/bar-bg.jpg) repeat-x;

		#performma-table {
			// position: relative;
			// width: 100%;
			// margin: auto;
			// text-align: center;

			#performma-bg {
				position: relative;
    			top: 50px;
				background: #343434;
				border-radius: 12px;
				width: 100%;
				height: 43px;
			}
		
			#tab_container_510 {

				position: relative;
				// background: url(https://github.com/Guilheeeeeeerme/performma/blob/master/conteudoscompartilhados/img/sprite_4.png?raw=true) no-repeat; 
				// background-size: 101% auto;
				margin: 0 0 31px 0;
				color: #fff !important;
				font-size: 1.5em;
				background-size: 100% 110%;
				text-align: center;

				ul.wpsm_nav {
					position: absolute;
					left: 50%;
					transform: translatex(-50%);
					height: 43px;

					li {

						* {
							font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif !important;
						}

						// * {
						// 	font-family: 'Fredericka the Great', cursive !important;
						// }

						display: inline;
						font-weight: 500;

						a {
							border: none !important;
							background-color: transparent !important;
						}
					}

					li.active {
						a {
							// color: #cf1717 !important;
							color: #f68b24 !important;
							text-decoration: underline overline;
							font-weight: bolder;
						}
					}
					
				}

				#tab-content_510 {
					margin-top: 50px;

					@media (max-width: 768px) {
						& {
							/* For mobile: */
							margin-top: 200px;
						}
					}


				}

			}

		}

	}

}

#performma-login-to-download {
	display: block;
	text-align: center;
	font-weight: bolder;
}

.performma-login-jumbotron {
	margin: 0 25% 5% 25%;
    border-radius: 10%;
}

#performma-header-container,
.performma-container {
	width: 75%;
    min-height: 100%;
    position: relative;
	margin: 0 auto;
}

.performma-container {
	@media (max-width: 768px) {
		& {
			/* For mobile: */
			width: 90%;
		}
	}
}

#performma-header-container {

	@media (max-width: 768px) {
		& {
			/* For mobile: */
			width: 100%;
		}
	}

	#performma-header {
	
		padding: 0 0 28px;

		> nav {
			box-shadow: none;

			> div.navbar-header > a.custom-logo-link > img {
				height: 60px;
				width: 60px;
				padding: 0;
			}
		}
	
		.upper {
			width: 123%;
			height: 52px;
			background: url(https://github.com/Guilheeeeeeerme/performma/blob/master/conteudoscompartilhados/img/sprite_2.png?raw=true) 0 -52px no-repeat;
			background-size: 100% auto;
			position: relative;
			margin: 0 0 23px -11%;
		}

		#menu-performma-menu {
			height: 50px;
			margin: 15px 0px;
			color: #58595b;
			font-size: 11px;
			text-align: right;
			position: relative;
			top: -50px;
		}    

	}

}

#performma-search-form {

    position: absolute;
	right: 0;

	#search {
		position: relative;
		left: 25px;
		height: 25px;
		width: 300px;
		border-radius: 12px;

		@media (max-width: 768px) {
			& {
				/* For mobile: */
				width: 100%;
			}
		}

	}

	.performma-search-btn {
		cursor: pointer;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #4885c4 url(https://github.com/Guilheeeeeeerme/performma/blob/master/conteudoscompartilhados/img/sprite_1.png?raw=true) -83px 0px no-repeat;
	}
}

// #performma-search-form { 

// 	position: relative;
//     float: right;
// 	color: #58595b;    
// 	position: absolute;
//     right: 0;
// 	width: 396px;

// 	.form-group {

// 		#search {
// 			width: 100%;
// 			height: 31px;
// 			border: 1px solid #bcbec0;
// 			border-radius: 20px;
// 			font-size: 15px;
// 			font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
// 		}

// 		.performma-search-icon {
// 			cursor: pointer;
// 			width: 25px;
// 			height: 25px;
// 			background: #4885c4 url(https://github.com/Guilheeeeeeerme/performma/blob/master/conteudoscompartilhados/img/sprite_1.png?raw=true) -83px 0px;
// 			position: absolute;
// 			top: -3px;
// 			right: 15px;
// 			margin: 6px;
// 			border-radius: 12px;
// 			display: block;
				
// 		}

// 	}

// }