/*
Theme Specia Child
Author: Guilherme
Description: Performma Custom Theme.
Template: specia
*/

// @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

// @import 'lcp';
@import 'slider';

.h-10	{	min-height: 10%  ;	height: 10%;	}
.h-20	{	min-height: 20%  ;	height: 20%;	}
.h-30	{	min-height: 30%  ;	height: 30%;	}
.h-40	{	min-height: 40%  ;	height: 40%;	}
.h-50	{	min-height: 50%  ;	height: 50%;	}
.h-60	{	min-height: 60%  ;	height: 60%;	}
.h-70	{	min-height: 70%  ;	height: 70%;	}
.h-80	{	min-height: 80%  ;	height: 80%;	}
.h-90	{	min-height: 90%  ;	height: 90%;	}
.h-100	{	min-height: 100% ;	height: 100%;	}

body {
	min-height: 100% !important;  height: 100%;
	* {
		font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
		// font-family: 'Fredericka the Great', cursive;
	}	
}

#category-list {

	margin-top: 22px;
	padding: 0px;

	article[class*="category-"] {
		vertical-align: middle;
		margin-right: 1%;
		border: none;
		display: inline-block;
		width: 100%;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		// padding: 0;

		@media (min-width: 768px) {
			width: 18%;
		}

		.post-thumbnail{

			display: block;
			width: 100%;
			height: 320px;

			img {
				width: 100%;
				height: 320px;
				object-fit: cover;
			}
		}

		.entry-content,
		.entry-footer{
			display: none;
		}

		.entry-header{
				// box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
				font-size: 1.5em;
				font-weight: bolder;
				background: white;
				// position: absolute;
				// top: 320px;
				height: 130px;
				padding: 5%;
				// white-space: nowrap; 
				width: 100%; 
				// overflow: hidden;
				// text-overflow: ellipsis;
		}
	}
}

#performma-side-menu {

	// display: inline-block;
    background: transparent;
    box-sizing: border-box;
    // padding: 24px 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 1;
	// padding: 8px;
	border-right: rgba(0,0,0,.2) thin solid;
	border: none;
	box-shadow: none;
}

#search-categories-button-container {
	margin-top: 20px;
	width:100%;
	text-align: center;

	#search-categories-button {
		display:inline-block;
		margin:0 auto;
	}

}

#parent-categories-dropdown,
#child-categories-dropdown {
	display: inline-block;
	width: 100%;

	@media (min-width: 768px) {
		width: 48%;
		border: 1%;
	}

}

#performma-site-content {
	border-left: rgba(0,0,0,.2) thin solid;
	background-color: #FAFAFA;
	padding: 22px;
}

#main-page-search-form {
	height: 60vh;
	background: #4885c4 url(https://github.com/Guilheeeeeeerme/performma/blob/master/conteudoscompartilhados/img/form-bg.jpg?raw=true) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	#performma-side-menu {
		.side-menu-search-label{
			text-align: center;
			color: white;
			font-weight: bolder;
		}
	}
}

.performma-social-buttons {
	text-align: center;

	div {
		max-width: 450px;
		margin: auto;
	
		.nsl-container{
			max-width: none;
			width: 100%;
		}

	}
}

#wtpsw-carousel-1 {
	.wtpsw-post-carousel-slides:hover {
		> div > div > img {
			border: solid thick orange;
		}
	}
}

#loginform {
	margin-top: 20px;
	* {
		font-size: 12px;
	}
	#user_login, 
	#user_pass {
		height: 30px;
	}
}

#bs-example-navbar-collapse-1 {
	#performma-search-form {
		bottom: 10px;
	}
}

#performma-article {

    padding: 40px 0 76px;

	div.col-md-4.col-sm-12 > img {
		width: 100% !important;
		height: auto !important;
		margin: 0 20px 0 0 !important;
		z-index: 1 !important;
		color: transparent !important;
		font-size: 0 !important;
		vertical-align: middle !important;
	}

	h2.author.vcard  {    
		font-size: 20px;
		line-height: 20px;
		color: #2c61aa;
	}

	h5.cat-links {    
		font-size: 15px;
		line-height: 60px;
		color: #58595b;
	}

	.entry-content{
		padding-left: 0px;
		height: 180px;
		overflow: hidden;
		word-wrap: break-word;
		font-size: 15px;
		line-height: 22px;
		color: #58595b;
	}

}

#performma-login-to-download {
	display: block;
	text-align: center;
	font-weight: bolder;
}

.performma-login-jumbotron {
	margin: 0 25% 5% 25%;
    border-radius: 10%;
}


#performma-header {
	background: url(https://github.com/Guilheeeeeeerme/performma/blob/master/conteudoscompartilhados/img/sprite_2.png?raw=true) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding: 28px 0;

	// background: transparent;
	box-shadow: none;

	.navbar-brand,
	.site-description {
		color: white !important;
	}

	> div.navbar-header > a.custom-logo-link > img {
		height: 60px;
		width: 60px;
		padding: 0;
	}

	#menu-performma-menu {
		height: 50px;
		margin: 15px 0px;
		color: #58595b;
		font-size: 11px;
		text-align: right;
		position: relative;
		top: -50px;
		li a {
			color: white;
		}
	}    

}

#performma-search-form {

    position: absolute;
	right: 0;

	#search {
		position: relative;
		left: 25px;
		height: 25px;
		width: 300px;
		border-radius: 12px;

		@media (max-width: 768px) {
			& {
				/* For mobile: */
				width: 100%;
			}
		}

	}

	.performma-search-btn {
		cursor: pointer;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #4885c4 url(https://github.com/Guilheeeeeeerme/performma/blob/master/conteudoscompartilhados/img/sprite_1.png?raw=true) -83px 0px no-repeat;
	}
}
